.areas {
    padding: 113px 0 100px;
    background: #000000;
}
.areas__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.areas__content + * {
    margin-top: 42px;
}
.areas__title + * {
    margin-top: 15px;
}

/* cards */
.areas__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}
.card {
    display: flex;
    align-items: flex-end;
    width: 576px;
    height: 600px;
    font-size: 14px;
    line-height: 20px;
}
.card_product {
    padding: 30px 45px 30px 30px;
    background-image: url(../img/areas/product.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}
.card_architecture {
    padding: 30px 32px 30px 30px;
    background-image: url(../img/areas/architecture.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}
.card_drone {
    padding: 30px 30px;
    background-image: url(../img/areas/drone.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}
.card_wildlife {
    padding: 30px 66px 30px 30px;
    background-image: url(../img/areas/wildlife.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}
.card__title {
    letter-spacing: 2px;
    text-transform: uppercase;
}
.card__title + * {
    margin-top: 10px;
}
.card__descr {
    color: #C0C0C0;
}
.card__descr + * {
    margin-top: 17px;
}

/* Media */
@media (max-width: 1200px) {
    .card {
        padding: 30px;
        background-size: cover;
        width: 450px;
        height: 550px;
    }
}

@media (max-width: 992px) {
    .areas {
        padding: 80px 0 80px;
    }
    .card {
        padding: 20px;        
        width: 360px;
        height: 450px;
        font-size: 11px;
        line-height: 18px;
    }
}

@media (max-width: 768px) {
    .card {
        padding: 15px;
        width: 300px;
        height: 400px;
        line-height: 15px;
    }
}

@media (max-width: 480px) {
    .areas {
        padding: 30px 0 10px;
    }
    .areas__content + * {
        margin-top: 30px;
    }
}
