.clients {
    padding: 113px 0 140px;
    background: #000000;
}
.clients__title {
    text-align: center;
}
.clients__title + * {
    margin-top: 15px;
}
.clients__descr {
    text-align: center;
}
.clients__descr + * {
    margin-top: 80px;
}
.clients__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Media */
@media (max-width: 992px) {
    .clients__title {
        font-size: 30px;
        line-height: 40px;
    }
    .clients__descr {
        font-size: 20px;
        line-height: 25px;
    }
}

@media (max-width: 768px) {
    .clients {
        padding: 70px 0 70px;
    }
    .clients__title {
        font-size: 28px;
        line-height: 30px;
    }
    .clients__descr {
        font-size: 16px;
        line-height: 20px;
    }
    .clients__descr + * {
        margin-top: 30px;
    }
    .clients__row {
        flex-direction: column;
        row-gap: 35px;
    }
}

@media (max-width: 480px) {
    .clients {
        padding: 50px 0 50px;
    }
}