.header {
    padding: 20px 0;
    background: #181818;
}
.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.nav-wrapper {
    display: flex;
    align-items: center;
}
.header__nav ul {
    display: flex;
    column-gap: 32px;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    margin-right: 31px;
}
.nav-areas {
    font-size: 13px;
    margin-right: 24px;
}
.header__nav li:hover{
    color: #C0C0C0;
    transition: all 0.2s ease-in;
}
.header__btn {
    padding: 10px 20px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;  
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
}
.header__btn:hover {
    background: #e5e7ebed;
    transform: translate(0,1px);
    transition: all 0.2s ease-in;
}
